header {
    display: flex;
    background-color: #9100A2;
    color: #FFF;
    border-bottom: 10px solid black;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: "Press Start 2P";
    font-size: 40px;
    text-shadow: 4px 4px 0px #000;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    font-family: "Fira Code";
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    margin-right: 30px;
}

a::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #32CE00;
    margin-right: 10px;
}

#bt-header {
    display: inline-block;
    background-color:#32CE00;
    height: 60px;
    box-shadow: 5px 5px 0px #000;
    line-height: 60px;
    text-align: center;
    padding: 0px 20px;
    margin-right: 0px;
}

#bt-header:hover {
    background-color: #fff;
    color: #32CE00 ;
}

div {
    box-sizing: border-box;
    background-color: #3A4042;
    width: 627px;
    height: 184px;
    box-shadow: 10px 10px 0 #000;
    font-family: "Press Start 2P";
    padding: 40px 50px;
    text-align: right;
    text-shadow: 4px 4px 0 #000;
}

div h2 {
    color: #32CE00;
    font-size: 40px;
    margin-bottom: 28px;
}

div h3 {
    color: #fff;
    font-size: 29px;
    text-align: center;
}
