.action {
    display: inline-flex;
    align-items: center;
    font-family: "Fira Code", arial, Arial, Helvetica, sans-serif;
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    margin-right: 30px;
}

.action::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #32CE00;
    margin-right: 10px;
}