.button {
    display: inline-block;
    background-color:#32CE00;
    box-shadow: 5px 5px 0px #000;
    padding: 18px 20px;
    margin-right: 0px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
}

.button:hover {
    background-color: #fff;
    color: #32CE00 ;
}
