.section {
    background-color: #9100A2;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #32CE00;
}



.section .subtitle {
    font-size: 25px;
}

#teste {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: auto;
    justify-content: space-between;
}

