.skill {
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #FFF;
    display: flex;
    align-items: center;
    
}

.skill .icon {
    margin-right: 25px;
    width: 90px;
}

.skill .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill .title {
    margin-bottom: 10px;
}